<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.populstay.safnect.key">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name="com.populstay.safnect.sm4.SM4Activity"
            android:exported="false" />
        <activity
            android:name="com.populstay.safnect.nfc.NFCReadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NFCBottomSheetDialog" >
            <!-- 指定你的应用可以处理的技术类型 -->
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="com.populstay.safnect.nfc.NFCWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NFCBottomSheetDialog" />
        <activity
            android:name="com.populstay.safnect.nfc.huada.NFCHuadaTestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NFCBottomSheetDialog" />
        <activity
            android:name="com.populstay.safnect.nfc.huada.NFCHuadaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NFCBottomSheetDialog" />
        <activity
            android:name="com.populstay.safnect.nfc.huada.HuadaNFCReadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NFCBottomSheetDialog" />
        <activity
            android:name="com.populstay.safnect.nfc.huada.HuadaNFCWriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NFCBottomSheetDialog" />
    </application>

</manifest>